button {
  width: clamp(14em, 100%, 17em);
  height: 25%;
  border: none;
  border-radius: 2px;
  background: repeating-linear-gradient(
    -55deg,
    rgba(248, 181, 76, 1),
    rgb(228, 167, 69),
    rgb(216, 153, 52),
    rgba(171, 125, 65, 1)
  );
}

@media only screen and (min-height: 1000px) {
  button {
    width: calc((100% / 3) - 5%);
  }
}
