form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 50rem;
  /* height: clamp(8em, 25vh, 12em); */
  height: 25vh;
  max-height: 9rem;
  margin: 0 auto;
}
