.button {
  cursor: pointer;
}

.info,
.close {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 50%;
  transform: scale(2.5);
}

.info::after,
.info::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px;
}

.info::before {
  height: 2px;
  top: 2px;
}

.info::after {
  bottom: 2px;
  height: 8px;
}

.close {
  transform: scale(1);
  position: fixed;
  top: 2%;
  right: 2%;
  border: none;
}

.close:hover {
  background: red;
  color: white;
  padding: 5px;
}

button {
  border: none;
  border-radius: 50%;
  padding: 5% 7%;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2), -5px -5px 6px rgba(255, 255, 255, 0.5);
  font-size: clamp(100%, 2rem + 2vw, 3em);
}

button:active {
  transform: scale(0.9);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.6);
}

.disabled {
  filter: grayscale(100%);
  cursor: default;
}
