html {
    width: 100vw;
    height: 100vh;
}

body {
    background: url("../img/background_day.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;
}

body.nightTime {
    background: url("../img/background_night.jpg") center center no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

header img {
    height: 20vh;
}

.animContainer {
    width: 40vmax;
    margin-left: auto;
    margin-right: auto;
}


/* .fetchContainer {
    position: absolute;
    padding: .9rem;
    top: 12rem;
    right: 10rem;
    height: 11rem;
    width: 35rem;
    font-size: 1.1rem;
    color: rgb(196, 184, 171);
}

.fetchContainer p {
    text-align: left;
}

.fetchContainer h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
} */

.button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    max-width: 45%;
}

button {
    font-size: 1.7vmax;
    background-color: rgb(44, 45, 109);
    color: rgb(177, 136, 90);
    padding: .94rem 2rem;
    text-align: center;
    text-decoration: none;
    margin: 4px;
    border: none;
}

button:hover {
    background-color: rgb(30, 27, 56);
}

button:disabled {
    background-color: rgb(101, 99, 117);
}