header {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(100%, 1rem + 2vw, 2em);
}
